streamlit==1.50.0
# streamlit-webrtc==0.47.9 # apenas para uso local
# opencv-contrib-python # apenas para uso local
mediapipe==0.10.5 # apenas para uso local
numpy
# av # streamlit-webrtc já gerencia isso internamente
openai>=2.0
pillow
matplotlib
python-dotenv